@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: black;
}

#header,
#footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: gray;
    height: 8vh;
    width: 100vw;
    color: black;
    font-weight: bold;
}

#footer {
    margin-top: 50px;
}

button {
    background: black;
    color: white;
    height: 5vh;
    width: 125px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: fle;
    align-items: center;
    background-color: black;
    flex: auto;
    flex-basis: 100vh;
}

.main-img {
    width: 50vw;
}

h1,
h2,
p {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Lilita One', cursive;
    font-style: italic;
    font-weight: 300;
}

#menuContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    gap: 10px;
}

.menuItem {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: solid;
    border-color: white;
}

.burgerImg {
    height: 250px;
}