#header {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: gray;
    height: 5vh;
    width: 100vw;
}

button {
    background: black;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lavender;
    height: 100vh;
}

img {
    margin-top: 5vh;
    width: 50vw;
}

h1 {
    text-align: center;
}